@font-face{
font-family: "arabicc";
src: url("/pr_tax_Invoice_report_custom/static/src/font/droid-arabic-naskh-regular/Droid%20Arabic%20Naskh%20Regular/Droid%20Arabic%20Naskh%20Regular.ttf") format('truetype');
font-weight: normal;
}
